div.proposals > h2, div.courses > h2, div.positions > h2, div.volunteerings > h2 {
	text-align: center;
	font-size: 2.25rem;
	background: black;
	border-radius: .4em;
}

div.proposal-item, div.course-item, div.position-item, div.volunteering-item {
	font-size: 1.5rem;
	padding: 0;
	border: .3em solid slategray;
	border-radius: .4em;
	margin: 1em;
	transition: transform 0.1s ease-out;
}

div.proposal-item > h3, div.course-item > h3, div.position-item > h3, div.volunteering-item > h3 {
	font-size: 1.75rem;
	text-align: center;
	padding: .2em;
	border-bottom: .2em solid slategray;
	margin: 0;
}

div.proposal-item > h3 {
  background-color: darkgreen;
}

div.course-item > h3 {
  background-color: darkgoldenrod;
}

div.position-item > h3 {
	background-color: darkred;
}

div.volunteering-item > h3 {
	background-color: darkblue;
}

div.proposal-item > p, div.course-item > p, div.position-item > p, div.volunteering-item > p {
	margin: 0;
	background-color: white;
	color: black;
	padding: .2em;
	text-align: center;
}
